<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ .Name }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script defer src='/javascript/workspace.js'></script>
    <link link rel="stylesheet" type="text/css" href="/css/workspace.css">
</head>
<body>
    <div id="user_header">
        <input id="name_display" type="text" onchange="Usernames.setLocalName(this.value)">
        <div id="online_user_list">
            <div>USERS</div>
        </div>
    </div>
    <div id="main_content">
        <div id="canvas_display"></div>
        <div id="sidebar">
            <div id="layer_manager">
                <img src="/icons/add_circle_black_24dp.svg">
                <button onclick="Layers.requestCreate(PaintLayer.type)">
                    <img src="/icons/palette_black_24dp.svg" title="Create paint layer">
                </button>
                <button onclick="Layers.requestCreate(TextLayer.type)">
                    <img src="/icons/text_fields_black_24dp.svg" title="Create text layer">
                </button>
                <div id="layer_list"></div>
            </div>

            <div id="layer_unowned_controls" class="layer_controls">
                <button onclick="Layers.requestClaimActiveLayer()">
                    <img src="/icons/key_black_24dp.svg" title="Claim layer">
                </button>
            </div>

            <div id="layer_owner_controls" class="layer_controls">
                <button onclick="Layers.requestFreeActiveLayer()">
                    <img src="/icons/key_off_black_24dp.svg" title="Free layer">
                </button>
                <button onclick="if (Layers.activeLayer != null) Layers.requestDeleteActiveLayer()">
                    <img src="/icons/delete_black_24dp.svg" title="Delete layer">
                </button>
                <button onclick="if (Layers.activeLayer != null) Layers.requestMoveActiveLayer(-1)">
                    <img src="/icons/arrow_upward_black_24dp.svg" title="Move layer up">
                </button>
                <button onclick="if (Layers.activeLayer != null) Layers.requestMoveActiveLayer(1)">
                    <img src="/icons/arrow_downward_black_24dp.svg" title="Move layer down">
                </button>
                <input id="layer_name_editor" type="text" onchange="Layers.setActiveLayerName(this.value)">
            </div>

            <div id="paint_layer_controls" class="layer_controls">
                <div id="color_picker">
                    <div id="color_preview"></div>
                    <div>Red</div>
                    <input type="range" min="0" max="255" value="0" id="red" oninput="Brush.updateSettings()">
                    <div>Green</div>
                    <input type="range" min="0" max="255" value="0" id="green" oninput="Brush.updateSettings()">
                    <div>Blue</div>
                    <input type="range" min="0" max="255" value="0" id="blue" oninput="Brush.updateSettings()">
                </div>

                <div id="brush_controls">
                    <div>Brush size</div>
                    <input type="range" min="1" max="200" value="15" id="brush_size" oninput="Brush.updateSettings()">
                </div>

                <input type="radio" class="paint_tool_select" oninput="Tools.setCurrent(Tools.tool[this.value])"
                    id="pen_radio" name="paint_tool_select" value="pen" checked
                >
                <label for="pen_radio" class="paint_tool_select">
                    <img src="/icons/brush_black_24dp.svg">
                </label>
                <input type="radio" class="paint_tool_select" oninput="Tools.setCurrent(Tools.tool[this.value])"
                    id="eraser_radio" name="paint_tool_select" value="eraser"
                >
                <label for="eraser_radio" class="paint_tool_select">
                    <img src="/icons/eraser_variant_black_24dp.svg">
                </label>
            </div>

            <div id="text_layer_controls" class="layer_controls">
                <div id="text_controls">
                    <div>Text X</div>
                    <input type="range" min="0" max="1920" id="text_x" oninput="TextLayer.updateActive()">
                    <div>Text Y</div>
                    <input type="range" min="0" max="1080" id="text_y" oninput="TextLayer.updateActive()">
                    <div>Font size</div>
                    <input type="range" min="30" max="500" id="text_font_size" oninput="TextLayer.updateActive()">
                    <div>Text Content</div>
                    <input type="text" id="text_content" oninput="TextLayer.updateActive()">
                </div>
            </div>
        </div>
    </div>
</body>
</html>